@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .giopio-title-size{
        font-size: 35px;
    }
}
@layer components {
    .giopio-navlink {
        @apply p-2 inline-block duration-500 hover:text-giopio-orange
    }
    .giopio-btn {
        @apply bg-giopio-orange text-white rounded-lg py-3 px-5 duration-500 inline-block;
    }
    .giopio-btn-black {
        @apply bg-giopio-black text-white rounded-lg py-3 px-5 duration-500 inline-block;
    }
    .giopio-btn-white {
        @apply bg-white text-giopio-orange rounded-lg py-4 px-6 duration-500 inline-block text-sm;
    }
    .giopio-tag-btn{
        @apply text-giopio-text font-semibold border border-giopio-text rounded-lg px-3 mr-3 duration-300 hover:bg-giopio-text hover:text-white inline-block;
        padding-top: 5px;
        font-size: 11px;
        padding-bottom: 5px;
    }
    .after-border{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        top: 50%;
        transform: translateY(-50%);
        background: #E1EAF8;
        z-index: -1;
    }
    .giopio-form-control{
        @apply form-input px-4 py-3 w-full rounded-lg border border-giopio-border bg-transparent duration-300 text-white placeholder:text-white focus:border-giopio-orange focus:ring focus:ring-giopio-orange focus:ring-opacity-5
    }
    .giopio-banner-bg-col{
        width: 417px;
        background: #e1eaf8;
        min-height: calc(100% + 200px);
    }
    .service-box{
        min-height: 415px;
    }
    .service-box h4{
        font-size: 16px;
    }
    .service-slider-wrapper .tns-nav{display: none;}
    .rounded-20 {
        border-radius: 20px;
    }
    .team-member{
        width: 334px;
    }
    .member-info{
        @apply text-center bg-white rounded-20 p-7 border border-giopio-border w-10/12 mx-auto absolute -bottom-12 left-0 right-0 duration-500 group-hover:bg-giopio-orange group-hover:border-giopio-orange;
    }
    .testimonial{
        box-shadow: 0px 23px 66px #B5CDF329;
        border-radius: 40px;
    }

    .testimonial-carousel .tns-nav button {
        width: 20px;
        height: 6px;
        background: #FCF0E7;
        border-radius: 6px;
        @apply duration-300
    }

    .testimonial-carousel .tns-nav button.tns-nav-active{
        @apply bg-giopio-orange w-10
    }
    .testimonial-carousel .tns-controls button {
        background: #FCF0E7;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        @apply text-giopio-black duration-300 text-sm leading-5
    }
    
    .testimonial-carousel .tns-controls {
        display: flex;
        gap: 15px;
    }
    
    .testimonial-carousel .tns-controls button:hover {
        box-shadow: 0px 23px 26px #FFA76E29;
        @apply bg-giopio-orange text-white
    }
    .testimonial-carousel .tns-nav, .testimonial-carousel .tns-controls {
        display: flex;
        gap: 20px;
        position: absolute;
        bottom: 185px;
        left: 12rem;
        z-index: 99;
    }
    .testimonial-carousel .tns-controls{
        bottom: 185px;
        left: auto;
        right: 12rem;
    }
    .mx-w-500 {
        max-width: 500px;
    }
    .active-accordion-bg {
        background: #fef8f3;
    }
}