@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .giopio-title-size{
        font-size: 42px;
    }
}
@layer components {
    .giopio-navlink {
        @apply p-2 inline-block duration-500 hover:text-giopio-orange
    }
    .giopio-btn {
        @apply bg-giopio-orange text-white rounded-lg py-4 px-6 duration-500 inline-block;
    }
    .after-border{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        top: 50%;
        transform: translateY(-50%);
        background: #E1EAF8;
        z-index: -1;
    }
}